<!DOCTYPE html>
<html>
<head lang="en">
<title>CS 5200 Project: Music Library</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header-without-login :: header"></th:block> /*/-->
		<div class="jumbotron">
			<div class="row text-center">
				<div class="">
					<h1>CS5200 Class Project</h1>
					<h2>Meenakshi Mishra</h2>
					<h3>Music Library</h3>
				</div>
			</div>
			<div class="row text-center">
				 <img src="../../static/images/FBcover1200x628.jpg" width="400" th:src="@{/images/FBcover1200x628.jpg}" />
			</div>
		</div>
	</div>
</body>
</html>