<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TeenViolence_Server</display-name>
  <servlet>
    <servlet-name>AuthenticatingUser</servlet-name>
    <servlet-class>authentication.AuthenticatingUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageDataServlet</servlet-name>
    <servlet-class>imageData.ImageDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageFetcher</servlet-name>
    <servlet-class>imageData.ImageFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticatingUser</servlet-name>
    <url-pattern>/authentication/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDataServlet</servlet-name>
    <url-pattern>/imageData/*</url-pattern>
  </servlet-mapping>
</web-app>